Q.1.What are keywords in python? Using the keyword library, print all the python keywords.

Ans: Key words are reserve words in python the have specific task to be done for example "if" is a keyword in python its task is to check the condition. keywords cannot be used as variables in python.

In [3]:
#to print the list of keywords we need to follow as
import keyword
print("the list keywords in python: ")
print(keyword.kwlist)

the list keywords in python:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Q.2.What are the rules to create variables in python?

Ans:The rules to create variables in python are

1.A Python variable name must start with a letter or the underscore character.
2.A Python variable name cannot start with a number.
3.A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
4.Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).
5.The keywords in Python cannot be used as name of the variable  in Python.

Q.3.What are the standards and conventions followed for the nomenclature of variables in
python to improve code readability and maintainability?

some of the naming conventions of varible in python are:
1.programmer need to use the relevent name to the variable for example if he creating a variable to read the age of the person he need to name the variable as age instead of giving other names

2.programmer need to use underscore in between the name of the variable if the name of thr variable is more than two words.

Q.4. What will happen if a keyword is used as a variable name?

Ans: When we use keyword as a variable name then we will get the syntax error

In [9]:
break=2
print(break)

SyntaxError: invalid syntax (3198885066.py, line 1)

Q.5.For what purpose def keyword is used?

Ans: def keyword is used to define a function, def is placed before the name of the function

For example:
def sum(a,b):
    return a+b

Q.6. What is the operation of this special character ‘\’?

Ans: In python "\" is used as the escape character for example if we write the print statement as 

print(""mumbai" is one of the famous city in india"") we will get synatax error to fix this we use "\" escape character 

print("\"mumbai\" is one of the famous city in india")

In [11]:
print(""mumbai" is one of the famous city in india""

SyntaxError: unterminated string literal (detected at line 1) (1125343636.py, line 1)

In [12]:
print("\"mumbai\" is one of the famous city in india")

"mumbai" is one of the famous city in india

Q.7. Give an example of the following conditions:
(i) Homogeneous list
(ii) Heterogeneous set
(iii) Homogeneous tuple

Ans:Homogeneous list:A homogeneous list is a list where all elements have the same data type. In Python, lists can contain elements of different data types, but a homogeneous list contains elements of the same data type.

Heterogeneous set:A heterogeneous set is a set where the elements can have different data types. In Python set can contain elements of different data types.

Homogeneous tuple:A homogeneous tuple is a tuple where all elements have the same data type.

In [35]:
l=[1,2,3,4,5]
s={"name",1,1.2}
t=(1,2,"school")
print(l)
print(s)
print(t)

[1, 2, 3, 4, 5]
{1, 'name', 1.2}
(1, 2, 'school')

Q.8.Explain the mutable and immutable data types with proper explanation & examples?

Ans:

Mutable datatypes:

Mutable datatypes can be changes after they are created 

Ex list,set,dictionay

In [13]:
l=[1,2,3,4,5]
l[3]=17   # we can change the value after creation 
print(l)

[1, 2, 3, 17, 5]

In [14]:
s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [15]:
d={"name":"rama","age":13}
d["school"]="st Johns high school"
print(d)

{'name': 'rama', 'age': 13, 'school': 'st Johns high school'}

Immutable datatypes:

These datatypes cannot be chabges once the are creates if we try to do any changes like if we try to add or delete elements we will get errors.

Example: tuple ,srting,int e.t.c

In [16]:
t=(1,2,3,4,5)
t[3]=15
print(t)

TypeError: 'tuple' object does not support item assignment

In [17]:
s="banglore"
s[3]="k"
print(s)

TypeError: 'str' object does not support item assignment

In [18]:
#Q.9. Write a code to create the given structure using only for loop.

n=int(input())
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(2*i-1):
        print('*',end='')
    print()

5
    *
   ***
  *****
 *******
*********

In [32]:

#.10. Write a code to create the given structure using while loop.


n=int(input())
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for j in range((2*i)-1):
        print("|",end="")
    print()

5
|||||||||
 |||||||
  |||||
   |||
    |

In [34]:
n = int(input())
i = n
while i >= 1:
    j = n - i
    while j > 0:
        print(" ", end="")
        j -= 1
    j = (2 * i) - 1
    while j > 0:
        print("|", end="")
        j -= 1
    print()
    i -= 1

5
|||||||||
 |||||||
  |||||
   |||
    |